<router-outlet></router-outlet>
 <header id="header">
            <div class="inner">

              <!-- Logo -->
                <a href="index.html" class="logo">
                <!--  <span class="symbol"><img src="../assets/images/fantasy/Dragon_very_small.jpg" alt="Dragon_small.jpg" /></span> -->
                <span class="title">Broken Stick Art Studio</span>
                </a>

              <!-- Nav -->
                <nav>
                  <ul>
                    <li><a href="#menu">Menu</a></li>
                  </ul>
                </nav>

            </div>
          </header>

        <!-- Menu -->
          <nav id="menu">
            <h2>Menu</h2>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="generic.html">Ipsum veroeros</a></li>
              <li><a href="generic.html">Tempus etiam</a></li>
              <li><a href="generic.html">Consequat dolor</a></li>
              <li><a href="elements.html">Elements</a></li>
            </ul>
          </nav>

        <!-- Main -->
          <div id="main">
            <div class="inner">
              <header>
                <h1>Hey, need a new t-shirt?  Find something no one else has, drawn by artist Matthew R. Stitt<br /></h1>
                <p>Welcome to Broken Stick Art Studio.</p>
                <p>Matthew has been a digital artist since 2016.  It all started with a phone and a pen.  Commission request welcome.</p>
                <hr>
                <p> Send emails to: <a href="mailto:matthewstitt49259@yahoo.com">matthewstitt49259@yahoo.com</a>
              </header>

